:root {
  /* this has to be set to switch between light or dark */
  /*color-scheme: light dark;*/

  --light-bg: ghostwhite;
  --light-color: black;
  --light-code: tomato;

  --dark-bg: black;
  --dark-color: ghostwhite;
  --dark-button: gray;
}

.winhide {
  display: none;
}


.title-dialog {
  background-color: var(--dark-bg);
  color: var(--dark-color);
  height: 20px;
}

.dark .title-dialog {
  background-color: var(--light-bg);
  color: var(--light-color);
}

.content-dialog {
  background-color: var(white);
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .content-dialog {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.dark dialog {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.dark .mdl-card__title-text {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.dark .modal {
  background-color: var(--dark-bg);
  color: var(--dark-color);
  border: 1px solid gray;
}

.dark .ui-fancytree {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}


.dark .button-text {
  background-color: var(--dark-button);
  color: var(--dark-color);
}

.dark .fancytree-active .fancytree-title {
  color: var(--light-color);
}


.dark .fancytree-title {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.dark .fancytree-title:hover {
  color: var(--light-color);
}

.dark .fancytree-node:hover .fancytree-title {
  color: var(--light-color);
}

.dark button {
  background-color: var(--dark-button);
  color: var(--dark-color);
}

.dark .darkop {
  opacity: 0.5;
}

.dark i {
  background-color: var(--dark-button);
  color: var(--dark-color);
}

.dark p {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.dark {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.dark .mdl-tabs__tab {
  color: lightgrey;
}

.dark .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: var(--dark-color);
}


body {
  margin: 0;
  padding: 0;

}

.appbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60px;

}

.appbar1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;

}

.but {
  margin-left: 3px;
  margin-right: 3px;
}

.mainapp {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.menubut {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
}

.menubut2 {
  position: fixed;
  left: 90px;
  bottom: 20px;
  z-index: 1000;
}

.modal {
  width: 80vw;
  padding: 0px;
  border: 1px solid gray;
  border-radius: 5px;

}

.modalDialog {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;

}

.contentDialog {
  margin: 3px;
  flex-grow: 1;
  height: calc(100% - 95px);
  /*border: 1px solid lightgray;*/

}

.dialogPanel {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  height: 60px;
  margin: 3px;
  border: 1px solid lightgray;
  border-radius: 3px;
}


.titlePanel {
  display: flex;
  flex-direction: row;
  justify-content:end;
  align-items: center;
  height: 30px;
  padding-right: 10px;
  border: 1px solid lightgray;
  border-radius: 3px;
}
.titleButton
{
  margin-left: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.dialogButton {
  margin-right: 20px;
}